@font-face {
    font-family: 'Sultan';
    src: url('Sultanbold.woff2') format('woff2'),
        url('Sultanbold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

